body {
    background-color: rgba(250, 235, 215, 0.692);
    color: #000 ;
    margin: 0px;
    padding: 900px;
    height: 300px;
    width: 500px;

}

h1 {
    color: #000;
    font-size: 30px;
    font-style: italic;
    font-weight: 200;
}

p {
    color: #000000cb;
    font-size: 16px;
    
}

